body {
  font-family: Arial;
  background: #f4eddb;
  text-align: center;
}

.container {
  margin-top: 100px;
}

.logo {
  width: 120px;
}

button, a {
  display: inline-block;
  padding: 10px 20px;
  margin: 10px;
  background: #dcdad5;
  border: none;
  text-decoration: none;
  color: black;
  cursor: pointer;
}

input {
  display: block;
  margin: 10px auto;
  padding: 10px;
  width: 250px;
}
